* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.navbar {
  background-color: orange;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.navbar a {
  margin-right: 50px;
  color: red;
}

.about {
  background-color: blue;
}

.home {
  background-color: bisque;
  height: 200px;
  text-align: center;
}
